In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv('C:/Users/saswa/saswata/Machine Learning A-Z (Codes and Datasets)/Part 2 - Regression/Section 8 - Decision Tree Regression/Python/Position_Salaries.csv', header=0)

In [4]:
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Position  10 non-null     object
 1   Level     10 non-null     int64
 2   Salary    10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 368.0+ bytes

In [5]:
df.describe()

          Level          Salary
count  10.00000       10.000000
mean    5.50000   249500.000000
std     3.02765   299373.883668
min     1.00000    45000.000000
25%     3.25000    65000.000000
50%     5.50000   130000.000000
75%     7.75000   275000.000000
max    10.00000  1000000.000000

In [6]:
df.iloc[:,1:]= scaler.fit_transform(df.iloc[:,1:])

In [7]:
df.describe()

              Level        Salary
count  1.000000e+01  1.000000e+01
mean  -6.661338e-17 -4.440892e-17
std    1.054093e+00  1.054093e+00
min   -1.566699e+00 -7.200425e-01
25%   -7.833495e-01 -6.496227e-01
50%    0.000000e+00 -4.207583e-01
75%    7.833495e-01  8.978525e-02
max    1.566699e+00  2.642503e+00

In [8]:
df= pd.get_dummies(df, columns=['Position'], drop_first=True)

In [9]:
df.describe()

,Level,Salary,Position_C-level,Position_CEO,Position_Country Manager,Position_Junior Consultant,Position_Manager,Position_Partner,Position_Region Manager,Position_Senior Consultant,Position_Senior Partner
count,1.000000e+01,1.000000e+01,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,-6.661338e-17,-4.440892e-17,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000
std,1.054093e+00,1.054093e+00,0.316228,0.316228,0.316228,0.316228,0.316228,0.316228,0.316228,0.316228,0.316228
min,-1.566699e+00,-7.200425e-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-7.833495e-01,-6.496227e-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000e+00,-4.207583e-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7.833495e-01,8.978525e-02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.566699e+00,2.642503e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [3]:
x= df.iloc[:, df.columns!='Salary']
y= df['Salary']

In [5]:
type(x)

pandas.core.frame.DataFrame

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y, train_size= 0.2, random_state=True)

In [8]:
type(y_train)

pandas.core.series.Series

In [14]:
from sklearn.tree import DecisionTreeRegressor
d_reg= DecisionTreeRegressor(random_state=0)

In [15]:
d_reg.fit(x_train, y_train)

DecisionTreeRegressor(random_state=0)

In [16]:
d_reg.predict(x_test)

array([0.88200808, 0.88200808, 0.88200808, 0.88200808, 0.88200808,
       0.88200808, 0.88200808, 0.88200808])

In [17]:
from sklearn.metrics import r2_score

In [19]:
r2_score(y_test, d_reg.predict(x_test))

-0.7939895451767189