In [15]:
import pandas as pd
import numpy as np

In [16]:
df= pd.read_csv('C:/Users/saswa/saswata/Machine Learning A-Z (Codes and Datasets)/Part 2 - Regression/Section 5 - Multiple Linear Regression/Python/50_Startups.csv', header=0)

In [17]:
df.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [19]:
df= pd.get_dummies(df, columns=['State'], drop_first=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   Profit           50 non-null     float64
 4   State_Florida    50 non-null     uint8
 5   State_New York   50 non-null     uint8
dtypes: float64(4), uint8(2)
memory usage: 1.8 KB

In [20]:
df.describe()

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,73721.615600,121344.639600,211025.097800,112012.639200,0.320000,0.340000
std,45902.256482,28017.802755,122290.310726,40306.180338,0.471212,0.478518
min,0.000000,51283.140000,0.000000,14681.400000,0.000000,0.000000
25%,39936.370000,103730.875000,129300.132500,90138.902500,0.000000,0.000000
50%,73051.080000,122699.795000,212716.240000,107978.190000,0.000000,0.000000
75%,101602.800000,144842.180000,299469.085000,139765.977500,1.000000,1.000000
max,165349.200000,182645.560000,471784.100000,192261.830000,1.000000,1.000000

In [21]:
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler()
df.iloc[:,0:4]= scaler.fit_transform(df.iloc[:, 0:4])

In [22]:
df.describe()

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
count,5.000000e+01,5.000000e+01,5.000000e+01,5.000000e+01,50.000000,50.000000
mean,-7.549517e-17,-2.564615e-16,-1.554312e-16,-5.151435e-16,0.320000,0.340000
std,1.010153e+00,1.010153e+00,1.010153e+00,1.010153e+00,0.471212,0.478518
min,-1.622362e+00,-2.525994e+00,-1.743127e+00,-2.439313e+00,0.000000,0.000000
25%,-7.434983e-01,-6.350458e-01,-6.750713e-01,-5.481991e-01,0.000000,0.000000
50%,-1.475621e-02,4.885871e-02,1.396931e-02,-1.011113e-01,0.000000,0.000000
75%,6.135700e-01,8.471792e-01,7.305723e-01,6.955535e-01,1.000000,1.000000
max,2.016411e+00,2.210141e+00,2.153943e+00,2.011203e+00,1.000000,1.000000

In [23]:
df.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,2.016411,0.560753,2.153943,2.011203,0,1
1,1.955860,1.082807,1.923600,1.999430,0,0
2,1.754364,-0.728257,1.626528,1.980842,1,0
3,1.554784,-0.096365,1.422210,1.776627,0,1
4,1.504937,-1.079919,1.281528,1.357740,1,0

In [24]:
from sklearn.model_selection import train_test_split
y= df['Profit']
x= df.iloc[:, df.columns!='Profit']

In [25]:
x_train, x_test, y_train, y_test= train_test_split(x,y, test_size=0.3, random_state=True)

In [26]:
from sklearn.linear_model import LinearRegression
lr= LinearRegression()
lr.fit(x_train, y_train)

LinearRegression()

In [27]:
y_test_predict= lr.predict(x_test)

In [28]:
from sklearn.metrics import r2_score
r2_score(y_test_predict, y_test)
r2_score(y_train, lr.predict(x_train))

0.9461536517350195